Repository dotnet/machinelearning, pull requests merged in 2021-03, with the labels that each got.

#5635 Documentation updates
  docs/api-reference/tensorflow-usage.md
  docs/building/unix-instructions.md
  docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/ApplyONNXModelWithInMemoryImages.cs
Labels: documentation

#5631 AutoML aggregate exception
  src/Microsoft.ML.AutoML/Experiment/Experiment.cs
Labels: AutoML.NET

#5712 IDataView to DataFrame
  src/Microsoft.Data.Analysis/DataFrame.IDataView.cs
  src/Microsoft.Data.Analysis/DataFrameColumn.cs
  src/Microsoft.Data.Analysis/IDataView.Extension.cs
  src/Microsoft.Data.Analysis/PrimitiveDataFrameColumn.cs
  src/Microsoft.Data.Analysis/StringDataFrameColumn.cs
  src/Microsoft.Data.Analysis/strings.Designer.cs
  src/Microsoft.Data.Analysis/strings.resx
  test/Microsoft.Data.Analysis.Tests/DataFrameIDataViewTests.cs
  test/Microsoft.Data.Analysis.Tests/DataFrameTests.cs
Labels: Microsoft.Data.Analysis

#5711 Improve csv parsing
  src/Microsoft.Data.Analysis/DataFrame.IO.cs
  src/Microsoft.Data.Analysis/Strings.Designer.cs
  src/Microsoft.Data.Analysis/Strings.resx
  src/Microsoft.Data.Analysis/TextFieldParser.cs
  test/Microsoft.Data.Analysis.Tests/DataFrame.IOTests.cs
  test/Microsoft.Data.Analysis.Tests/Microsoft.Data.Analysis.Tests.csproj
  test/Microsoft.Data.Analysis.Tests/TextFieldParserTests.cs
Labels: Microsoft.Data.Analysis
