Repository dotnet/machinelearning, pull requests merged in 2024-10, with the labels that each got.

#7248 Move the Tokenizer's data into separate packages.
  Microsoft.ML.sln
  eng/TokenizerData.targets
  src/Microsoft.ML.Tokenizers.Data.Cl100kBase/Cl100kBaseTokenizerData.cs
  src/Microsoft.ML.Tokenizers.Data.Cl100kBase/Data/cl100k_base.tiktoken
  src/Microsoft.ML.Tokenizers.Data.Cl100kBase/Microsoft.ML.Tokenizers.Data.Cl100kBase.csproj
  src/Microsoft.ML.Tokenizers.Data.Cl100kBase/PACKAGE.md
  src/Microsoft.ML.Tokenizers.Data.Gpt2/Data/gpt2.tiktoken
  src/Microsoft.ML.Tokenizers.Data.Gpt2/Gpt2TokenizerData.cs
  src/Microsoft.ML.Tokenizers.Data.Gpt2/Microsoft.ML.Tokenizers.Data.Gpt2.csproj
  src/Microsoft.ML.Tokenizers.Data.Gpt2/PACKAGE.md
  src/Microsoft.ML.Tokenizers.Data.O200kBase/Data/o200k_base.tiktoken
  src/Microsoft.ML.Tokenizers.Data.O200kBase/Microsoft.ML.Tokenizers.Data.O200kBase.csproj
  src/Microsoft.ML.Tokenizers.Data.O200kBase/O200kBaseTokenizerData.cs
  src/Microsoft.ML.Tokenizers.Data.O200kBase/PACKAGE.md
  src/Microsoft.ML.Tokenizers.Data.P50kBase/Data/p50k_base.tiktoken
  src/Microsoft.ML.Tokenizers.Data.P50kBase/Microsoft.ML.Tokenizers.Data.P50kBase.csproj
  src/Microsoft.ML.Tokenizers.Data.P50kBase/P50kBaseTokenizerData.cs
  src/Microsoft.ML.Tokenizers.Data.P50kBase/PACKAGE.md
  src/Microsoft.ML.Tokenizers.Data.R50kBase/Data/r50k_base.tiktoken
  src/Microsoft.ML.Tokenizers.Data.R50kBase/Microsoft.ML.Tokenizers.Data.R50kBase.csproj
  src/Microsoft.ML.Tokenizers.Data.R50kBase/PACKAGE.md
  src/Microsoft.ML.Tokenizers.Data.R50kBase/R50kBaseTokenizerData.cs
  src/Microsoft.ML.Tokenizers/Microsoft.ML.Tokenizers.csproj
  src/Microsoft.ML.Tokenizers/Model/TiktokenTokenizer.cs
  test/Microsoft.ML.Tokenizers.Data.Tests/Microsoft.ML.Tokenizers.Data.Tests.csproj
  test/Microsoft.ML.Tokenizers.Data.Tests/TokenizerDataTests.cs
  test/Microsoft.ML.Tokenizers.Tests/Microsoft.ML.Tokenizers.Tests.csproj
  test/Microsoft.ML.Tokenizers.Tests/TiktokenTests.cs
  test/Microsoft.ML.Tokenizers.Tests/Utils.cs
Labels: Tokenizers

#7236 docs: update nuget package badge
  README.md
Labels: community-contribution

#7242 Fix dataframe incorrectly parse CSV when renameDuplicatedColumns is true
  src/Microsoft.Data.Analysis/DataFrame.IO.cs
  src/Microsoft.Data.Analysis/Microsoft.Data.Analysis.csproj
  test/Microsoft.Data.Analysis.Tests/DataFrame.IOTests.cs
Labels: community-contribution

#7264 Misc Changes
  NuGet.config
  docs/samples/Microsoft.ML.AutoML.Samples/Microsoft.ML.AutoML.Samples.csproj
  eng/Versions.props
  src/Microsoft.ML.AutoML.Interactive/Microsoft.ML.AutoML.Interactive.csproj
  src/Microsoft.ML.GenAI.Core/Microsoft.ML.GenAI.Core.csproj
  src/Microsoft.ML.GenAI.Core/Pipeline/CausalLMPipeline.cs
  src/Microsoft.ML.GenAI.LLaMA/LlamaTokenizerHelper.cs
  src/Microsoft.ML.GenAI.LLaMA/Microsoft.ML.GenAI.LLaMA.csproj
  src/Microsoft.ML.GenAI.Mistral/Microsoft.ML.GenAI.Mistral.csproj
  src/Microsoft.ML.GenAI.Phi/Microsoft.ML.GenAI.Phi.csproj
  src/Microsoft.ML.Tokenizers/EncodedToken.cs
  src/Microsoft.ML.Tokenizers/Microsoft.ML.Tokenizers.csproj
  src/Microsoft.ML.Tokenizers/Model/BPETokenizer.cs
  src/Microsoft.ML.Tokenizers/Model/CodeGenTokenizer.cs
  src/Microsoft.ML.Tokenizers/Model/EnglishRobertaTokenizer.cs
  src/Microsoft.ML.Tokenizers/Model/LlamaTokenizer.cs
  src/Microsoft.ML.Tokenizers/Model/Phi2Tokenizer.cs
  src/Microsoft.ML.Tokenizers/Model/SentencePieceTokenizer.cs
  src/Microsoft.ML.Tokenizers/Model/TiktokenTokenizer.cs
  src/Microsoft.ML.Tokenizers/Model/Word.cs
  src/Microsoft.ML.Tokenizers/PreTokenizer/PreTokenizer.cs
  src/Microsoft.ML.Tokenizers/PreTokenizer/RegexPreTokenizer.cs
  src/Microsoft.ML.Tokenizers/PreTokenizer/WhiteSpacePreTokenizer.cs
  src/Microsoft.ML.Tokenizers/Tokenizer.cs
  src/Microsoft.ML.TorchSharp/AutoFormerV2/Anchors.cs
  src/Microsoft.ML.TorchSharp/AutoFormerV2/Attention.cs
  src/Microsoft.ML.TorchSharp/AutoFormerV2/AutoFormerV2Block.cs
  src/Microsoft.ML.TorchSharp/AutoFormerV2/ObjectDetectionTrainer.cs
  src/Microsoft.ML.TorchSharp/Loss/FocalLoss.cs
  src/Microsoft.ML.TorchSharp/Microsoft.ML.TorchSharp.csproj
  src/Microsoft.ML.TorchSharp/Utils/ImageUtils.cs
  src/Microsoft.ML.TorchSharp/Utils/Index.cs
  src/Microsoft.ML.TorchSharp/Utils/Range.cs
  src/Microsoft.ML.TorchSharp/Utils/RangeUtil.cs
  test/Microsoft.ML.AutoML.Tests/Microsoft.ML.AutoML.Tests.csproj
  test/Microsoft.ML.CodeGenerator.Tests/Microsoft.ML.CodeGenerator.Tests.csproj
  test/Microsoft.ML.Fairlearn.Tests/Microsoft.ML.Fairlearn.Tests.csproj
  test/Microsoft.ML.GenAI.Core.Tests/Microsoft.ML.GenAI.Core.Tests.csproj
  test/Microsoft.ML.GenAI.LLaMA.Tests/Microsoft.ML.GenAI.LLaMA.Tests.csproj
  test/Microsoft.ML.GenAI.Mistral.Tests/Microsoft.ML.GenAI.Mistral.Tests.csproj
  test/Microsoft.ML.GenAI.Phi.Tests/Microsoft.ML.GenAI.Phi.Tests.csproj
  test/Microsoft.ML.Tokenizers.Data.Tests/Microsoft.ML.Tokenizers.Data.Tests.csproj
  test/Microsoft.ML.Tokenizers.Tests/BpeTests.cs
  test/Microsoft.ML.Tokenizers.Tests/CodeGenTests.cs
  test/Microsoft.ML.Tokenizers.Tests/EnglishRobertaTests.cs
  test/Microsoft.ML.Tokenizers.Tests/LlamaTests.cs
  test/Microsoft.ML.Tokenizers.Tests/Microsoft.ML.Tokenizers.Tests.csproj
  test/Microsoft.ML.Tokenizers.Tests/PreTokenizerTests.cs
  test/Microsoft.ML.Tokenizers.Tests/TiktokenTests.cs
  test/Microsoft.ML.Tokenizers.Tests/TokenizerTests.cs
  test/Microsoft.ML.TorchSharp.Tests/Microsoft.ML.TorchSharp.Tests.csproj
Labels: Tokenizers

#7272 Fixes #7271 AOT for ML.Tokenizers
  src/Microsoft.ML.Tokenizers/Model/BPETokenizer.cs
  src/Microsoft.ML.Tokenizers/Model/CodeGenTokenizer.cs
  src/Microsoft.ML.Tokenizers/Model/EnglishRobertaTokenizer.cs
  src/Microsoft.ML.Tokenizers/Model/ModelSourceGenerationContext.cs
  src/Microsoft.ML.Tokenizers/Utils/StringSpanOrdinalKey.cs
Labels: community-contribution, Tokenizers

#7275 Introducing WordPiece and Bert tokenizers
  THIRD-PARTY-NOTICES.TXT
  src/Microsoft.ML.Tokenizers/EncodedToken.cs
  src/Microsoft.ML.Tokenizers/Model/BPETokenizer.cs
  src/Microsoft.ML.Tokenizers/Model/BertTokenizer.cs
  src/Microsoft.ML.Tokenizers/Model/WordPieceTokenizer.cs
  src/Microsoft.ML.Tokenizers/Normalizer/BertNormalizer.cs
  src/Microsoft.ML.Tokenizers/PreTokenizer/PreTokenizer.cs
  test/Microsoft.ML.Tokenizers.Tests/BertTokenizerTests.cs
  test/Microsoft.ML.Tokenizers.Tests/BpeTests.cs
  test/Microsoft.ML.Tokenizers.Tests/PreTokenizerTests.cs
  test/Microsoft.ML.Tokenizers.Tests/WordPieceTests.cs
Labels: Tokenizers

#7280 Address the feedback regarding Bert tokenizer
  src/Microsoft.ML.Tokenizers/Model/BertTokenizer.cs
  src/Microsoft.ML.Tokenizers/Model/WordPieceTokenizer.cs
  src/Microsoft.ML.Tokenizers/Normalizer/BertNormalizer.cs
Labels: Tokenizers
